@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


body {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #D5CDDD;
}

h1{
    font-size: xx-large;
}

header {
    background-color: #9B78B5 ;
    padding: 20px 200px;
    color: #e7e0ee;

}

.headertop {
    background-color: #734E8F;
    padding: 20px;
    display: flex;
    justify-content: space-between;

}

nav {
    padding: 20px 0 0 0 ;
}

main {
    display: flex;
    flex-direction: column;
    align-self: center;

    width: 70vw;
    gap: 100px;

}

#aanpakken {
    display: flex;
    gap: 50px;
}

#boek {
    display: flex;
    width: 800px;
}

#boek div {
    flex: 1;
}